<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
  <add name="CrmString" connectionString="AuthType=Office365;Url=https://fapple.crm.dynamics.com/; Domain=Fapple;Username=friyank@Fapple.onmicrosoft.com; Password=dell@123"/>
</connectionStrings>
</configuration>